/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page cairodepsguide Dependencies

    @tableofcontents

    - <a href="https://www.cairographics.org/">Cairo</a> (required) - 2D
      graphics library
    - <a href="https://wiki.gnome.org/Projects/LibRsvg">librsvg</a>
      (optional) - SVG input, rendering, and format conversion
*/
