/** @mainpage Qore Cairo Module

    @tableofcontents

    @section cairointro Cairo Module Introduction

    The @c cairo module provides Qore bindings for the
    <a href="https://www.cairographics.org/">Cairo 2D graphics library</a>,
    enabling creation and manipulation of vector graphics in SVG, PostScript,
    and EPS formats, as well as PNG raster images.

    With optional <a href="https://wiki.gnome.org/Projects/LibRsvg">librsvg</a>
    support, the module can also load and render existing SVG files,
    converting them to PNG, PostScript, EPS, or PDF.

    @section cairofeatures Features

    @subpage cairofeaturesguide


    @section cairoclasses Cairo Classes

    @subpage cairoclassesguide


    @section cairohashdecls Hashdecls

    @subpage cairohashdeclsguide


    @section cairodataprov CairoDataProvider Module

    @subpage cairodataprovguide


    @section cairodeps Dependencies

    @subpage cairodepsguide


    @section cairopackages OS Packages

    @subpage cairopackagesguide


    @section cairoreleasenotes Release Notes

    @subpage cairoreleasenotesguide


    @section cairolicense License

    This module is released under the MIT license.

    Copyright (C) 2026 Qore Technologies, s.r.o.

    @section cairoqlibmodules Qore User Modules

    - <img src="cairo-logo.svg" width="28" height="28" alt="CairoDataProvider app icon"/> @ref cairodataproviderintro "CairoDataProvider" — a data provider API for Cairo vector graphics

*/
